@media only screen and (max-width:650px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}
    body{
        margin: 0px;
        position: relative;
        font-family: Arial;
    }
    .grid{
        width: 96%;
    }
    .header{
        width: 100%;
        z-index: 1;
        height:70px;
        background-color: rgb(57, 7, 207);
        border-bottom: solid 1px #333333;
    }
    .navbar{
        display: none !important; 
    }
    #top-logo{
        display: none !important;
    }
    #menu{
        display: none !important;
    }

    #div-slideshow{
        display: none !important;
    }
    #banner1{
        display: none !important;
    }
    .cate-product{
        width: 100%;
        margin:0 auto;
        min-height: 400px !important;
        /*overflow:auto;*/
        flex-wrap: wrap;
    }
    .cau-hinh{
        display: none;
    }
    .product{
        width: 48%;
        margin: 0px;
        box-shadow: none;
    }
    #contact-icon{
        display: none !important;
    }
    #bars{
        display: block !important;
        min-width: 50px;
    }
    #bars i{
        font-size: 24px;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
    }
    #mobile-bars{
        width: 100%;
        height:100%;
        /*background-color: #fff;*/
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        top:0;
        left: 0;
        display:none !important;
        z-index: 1;
    }
    #bars-content{
        position:absolute;
        width: 60%;
        height: 100%;
        top:0;
        left: 0;
        background-color: aliceblue;
    }

    #footer{
        flex-direction: column !important;
    }
}